.favDiv{

    display : none;

}

#unfavorites{

    display:none;
}

#assessmentFavorites{

    display : none;

}

#assessmentFavoritesDiv{

    display : none;
}


.assessmentTechButtons{
    margin: 1em;
    padding: 20px;

    list-style-type: none;
    /*prevent text selecting for better user interface while clicking
    the buttons*/

    user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #d3d3d3;
    color: #555555;
    font-weight: normal;

    width:100px;
    height:100px;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffcc;
    background-image: url('../../images/unfav.png'),url('../../images/unassign.png');
    background-repeat: no-repeat, no-repeat;
    background-position:left top,  right top;
}



.no-objective-defined {
    text-align: center;
    vertical-align: middle;
    /*pointer-events: none;*/
    /* for "disabled" effect */

    opacity: 0.5;
    background: #cccccc;
}



.assessment-page-buttons {
    height: 50px;

    text-align: center;
}

.assessment-page-buttons-disabled {
    height: 50px;

    text-align: center;
    vertical-align: middle;
    pointer-events: none;

    opacity: 0.5;
    background: #cccccc;
}

.video-control {
    text-align: center;
}

.video-center {
    margin: 0 auto;
}


.learning-objective.definition-cell {
    height: 5em;
    min-height: 2em;
    padding-right: 0;

    text-align: center;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}
