.favDiv {
    display: none;
    visibility: hidden;
}

#unfavorites {
    display: none;
}

#assessmentFavorites {
    display: none;
    visibility: hidden;
}

#assessmentFavoritesDiv {
    display: none;
    visibility: hidden;
}


.no-objective-defined {
    text-align: center;
    vertical-align: middle;

    opacity: 0.5;
    background: #cccccc;
}

.assessment-page-buttons {
    height: 50px;

    text-align: center;
}

.assessment-page-buttons-disabled {
    height: 50px;

    text-align: center;
    vertical-align: middle;
    pointer-events: none;

    opacity: 0.5;
    background: #cccccc;
}

.video-control {
    text-align: center;
}

.video-center {
    margin: 0 auto;
}

.learning-objective.definition-cell {
    height: 5em;
    min-height: 2em;
    padding-right: 0;

    text-align: center;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}
