#contentTable {
    width: 70%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 15%;
    border: 1px solid;
}
#topicModalClose {
	margin-top: 20px;
}
#chart {
    width: 500px ;
    margin-right: auto ;
    margin-left: auto ;
}

.message.banner {
    visibility: hidden;
}
