#contentTable {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	border: 1px solid;
}
.content-buttons {
	margin-top: 20px;
	width: 70%;
	margin-left: 15%;
	background: none !important;
	text-align: right;
}
#chart {
	width: 500px ;
	margin-right: auto ;
	margin-left: auto ;
}

.message.banner {
	visibility: hidden;
}
