#contentTree .checkboxBackground{
	height:20px;
	width:20px;
	background-image:url(../../images/checkboxBG.png);
	display:inline-block;
}
#contentTree .checkbox{
	line-height:1.4em;
	width:1.3em;
	font-size:1.3em;
}
#addTopicModal i{
	color:darkblue;
	size:2em;
	font-size:2em;
	vertical-align:middle;
	padding:2px;
}
#addTopicModal{
	font-weight:bold;
}
.topicModalButton{
	background:transparent;
	border:none;
}
.topicModalButtonGradient{
	height:auto;
	background:linear-gradient(white,#EDEDEF);
	display:inline-block;
	box-shadow:0px 1px #C4C2C2;
	margin-left:5px;
	margin-right:5px;
	border-radius:4px;
	padding-left:5px;
	padding-right:5px;
	float:right;
}