#contentDialog{
	border:1px solid #C4C2C2;
	background:#EDEDEF;
	position:absolute;
	width:70%;
	top:30%;
	left: 15%;
}
.contentButtonField{
	top:initial;
	right:initial;
	position:relative;
	width:auto;
	box-shadow:none;
	background:linear-gradient(#FEFEFE,#EDEDEF);
	height:3em;
	margin:0px;
}
.contentButton{
	height:2.9em;
	background-repeat: no-repeat;
	background-position-y:center;
}
.contentButtonGradient{
	height:auto;
	background:linear-gradient(#F5F5F5,white);
	display:inline-block;
	box-shadow:0px 1px 2px #888888;
	margin-left:5px;
	margin-right:5px;
	border-radius:4px;
	padding-left:5px;
	padding-right:5px;
}
.contentButtonGradient.saveBG{
	float:right;
}
#contentList{
	width:100%;
	margin:0px
}
#contentList tbody *{
	vertical-align:middle;
}
#contentList tbody:last-child{
	border-bottom:0px
}
#contentList tr{
	border-top:1px solid #C4C2C2;
	border-bottom:1px solid #C4C2C2;
}

#contentList td{
	padding:5px;
}
#contentList input, #contentList select, #contentList button{
	width:95%;
	height:inherit;
	min-height:inherit;
}
#contentList .hidden{
	display:none;
}
#contentList .unsaved
	background:white;
}
#contentList .contentDimensions{
	width:25%;
}
#contentList .contentPriority{
	width:20%;
}
#contentList .contentResources{
	width:15%
}
#contentList .contentPreReq{
	width:1em;
	padding-left:.5em;
	padding-right:.5em;
}

#contentList .saveIcon{
	width:1em;
	padding-left:.5em;
	padding-right:.5em;
}
#contentList .knowledgeDimensionButton{
	width:85%;
}

#selectKnowledgeDimensions{
	display:none;
	border:1px solid #C4C2C2 ;
	background:white;
	position:absolute;
	width:20%;
	min-height:20%;
	top:33%;
	left:40%;
	padding:10px;
}
#selectKnowledgeDimensions li *{
	height:inherit;
}
#selectKnowledgeDimensions ul {
	list-style-type:none;
	margin-right:10px;
	margin-bottom:10px;
	vertical-align:top;
	display:inline-block;
	
}
#selectKnowledgeDimensions #dimImage{
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
}
#selectKnowledgeDimensions #knowDimFinished{
	width:80%;
	position:relative;
	left:10%;
}