#contentTable {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;

    border: 1px solid;
}
.content-buttons {
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;

    text-align: right;

    background: none !important;
}
#chart {
    width: 500px ;
    margin-right: auto ;
    margin-left: auto ;
}

.message.banner {
    visibility: hidden;
}
