h1,
h2 {
    margin: 10px 25px 5px;
}

h2 {
    font-size: 1.1em;
}

.filename {
    font-style: italic;
}

.exceptionMessage {
    margin: 10px;
    padding: 5px;

    border: 1px solid #000000;
    background-color: #e9e9e9;
}

.stack,
.snippet {
    margin: 0 25px 10px;
}

.stack,
.snippet {
    border: 1px solid #cccccc;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

/* error details */
.error-details {
    overflow: hidden;

    padding: 5px;
    padding-left: 25px;

    border-top: 1px solid #ffaaaa;
    border-bottom: 1px solid #ffaaaa;
    background-color: #fff3f3;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);

    line-height: 1.5;
}

.error-details dt {
    float: left;
    clear: left;

    margin-right: 5px;

    font-weight: bold;
}

.error-details dt:after {
    content: ':';
}

.error-details dd {
    display: block;
}

/* stack trace */
.stack {
    overflow: auto;

    height: 150px;
    padding: 5px;
}

/* code snippet */
.snippet {
    background-color: #ffffff;

    font-family: monospace;
}

.snippet .line {
    display: block;
}

.snippet .lineNumber {
    display: inline-block;

    width: 3em;
    margin-right: 5px;
    padding: 0 3px;

    text-align: right;

    color: #999999;
    background-color: #dddddd;
}

.snippet .error {
    background-color: #fff3f3;

    font-weight: bold;
}

.snippet .error .lineNumber {
    color: #333333;
    background-color: #ffaaaa;

    font-weight: bold;
}

.snippet .line:first-child .lineNumber {
    padding-top: 5px;
}

.snippet .line:last-child .lineNumber {
    padding-bottom: 5px;
}
