.action-word-categories {
	padding: 20px;
	margin: 0;
	list-style-type: none;

	/*prevent text selecting for better user interface while clicking
	the buttons*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.action-word-categories > label {
	width: 100px;
	padding: 45px 0;
	text-align: center;
	background-color: #FFFFCC;
	background-image: url("../../images/unassign.png");
	background-repeat: no-repeat;
	background-position: right top;
}

.action-word-categories > .ui-selecting,
.action-word-categories > .ui-state-active {
	background-color: #FFFFCC;
	background-image: url("../../images/assign.png"), url("../../images/thesaurus.png");
	background-repeat: no-repeat, no-repeat;
	background-position: right top, right bottom;
}

.action-word-categories > .ui-state-hover,
.action-word-categories > .ui-state-active,
.action-word-categories > .ui-state-focus {
	border: 1px solid #ccc;
	color: #1c94c4;
}
