.icons {
    margin: 0;
    padding: 30px;

    list-style-type: none;

            user-select: none;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

.icons > label {
    width: 120px;
    padding: 45px 0;

    text-align: center;
}

.icons > .ui-state-default {
    background-color: #ffffcc;
    background-image: url('../../images/unassign.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.icons > .ui-selecting,
.icons > .ui-state-active {
    background-color: #ffffcc;
}

.icons > .ui-state-hover,
.icons > .ui-state-active,
.icons > .ui-state-focus {
    color: #1c94c4;
    border: 1px solid #cccccc;
}

.icons.assessmentUnfavUnassign > .ui-selecting,
.icons.assessmentUnfavUnassign > .ui-state-active,
.icons.assessmentUnfavUnassign > .ui-state-default {
    background-image: url('../../images/unfav.png'),url('../../images/unassign.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}

.icons.assessmentFavAssign > .ui-selecting,
.icons.assessmentFavAssign > .ui-state-active,
.icons.assessmentFavAssign > .ui-state-default {
    background-image: url('../../images/fav.png'),url('../../images/assign.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}


.icons.assessmentUnfavAssign > .ui-selecting,
.icons.assessmentUnfavAssign > .ui-state-active,
.icons.assessmentUnfavAssign > .ui-state-default {
    background-image: url('../../images/unfav.png'),url('../../images/assign.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}


.icons.assessmentFavUnassign > .ui-selecting,
.icons.assessmentFavUnassign > .ui-state-active,
.icons.assessmentFavUnassign > .ui-state-default {
    background-image: url('../../images/fav.png'),url('../../images/unassign.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}


.icons.assign > .ui-selecting,
.icons.assign > .ui-state-active {
    background-image: url('../../images/assign.png');
    background-repeat: no-repeat;
    background-position: right top;
}
