.chapterLi {
	list-style-type: none;
}

.chapterLi:hover {
	background-color: #d3d3d3;
}

#learningObjectiveType, #contentSelect {
	padding: 0;
}

#priorityCodeType {
	padding: 0;
	width: 215px;
}

#tabs-container {
	margin-left:2.5%;
	margin-right:17.5%;
	margin-top:5%;
	margin-bottom:10.5%;
	font-size:12px;
}

.ui-tabs-anchor {
	font-family: "Ubuntu";
}

.buttons {
	width:20%;
	float:right;
}

.ui-widget-content {
	font-family:"Ubuntu";
}

#tabs-2{
	margin-bottom:23.5%;
}

#tabs-3{
	margin-bottom:18.74%;
}

#tabs-4{
	margin-bottom:23.5%;
}

#tabs-5{
	margin-bottom:25.1%;
}

table.inner_table{
	position:relative;
	left:-62.5px;
	width:113%;
	height:100%;
}

td{
}

.buttons{
	width:auto;
	top:0px;
	right:25px;
}

.course_overview_form,.topic_hierarchy_widget,.topic_information_widget{
	padding: 0px 0px 20px 0px;
	border: solid 1px #C0C0C0;
	border-radius: 15px;
	height:100%;
}

.form_title{
	background: #0A1629;
	top:0;
	color: #ffffff;
	line-height:250%;
	background: -webkit-gradient(linear, left top, left bottom, from(#1B4176), to(#172751));
	border-top-left-radius: 14px 14px;
	border-top-right-radius: 14px 14px;
}

.fieldcontain label, .fieldcontain .property-label {
	text-align: left;
	margin-left: 40px;
}

.fieldcontain{
	padding:0px 0px 0px 15px;
	margin-right:-5em;
}

.title_text{
	padding-left:10px;
}

img.tab_icon{
		width:20%;
		height:auto;
}

a.ui-tabs-anchor{
	width:181.953px;
}

#overview_tab_title{
	position:absolute;
	top:10px;
}

#lo_tab_title{
	position:absolute;
	top:10px;
}

#content_tab_title{
	position:absolute;
	top:10px;
	left:80px;
}

#assess_tab_title{
	position:absolute;
	top:10px;
	left:80px;
}

#pedagogy_tab_title{
	position:absolute;
	top:10px;
	left:70px;
}

.ui-tabs-nav li{
	height:43px;
	border-top-left-radius:5px 5px;
	border-top-right-radius:5px;
}

#help_placeholder {
	width:12em;
	height: 9em;
	position: absolute;
	right: 15px;
	top: 144px;
	border-width: 1px;
	padding-right: 1em;
	padding-bottom: 3em;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #FFFF5A;
	z-index:10;
}

#open_help {
	width:12em;
	height: 1em;
	position: absolute;
	right: 15px;
	top: 144px;
	border-width: 1px;
	padding-right: 1em;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #FFFF5A;
	z-index: 10;
	display: none;
}

#closebutton{
	float: right;
}

#resize_quicktip{
	width:20px;
	height:auto;
	position:relative;
	top:5px;
}

.fieldcontain label, .fieldcontain .property-label{
	text-align:left;
	margin-left:40px;
}

.fieldcontain{
	margin-right:0em;
}

#custom_instructor{
	height:127px;
	overflow-y:scroll;
}

#instructor_table{
	width:858px;
}

#audience {
	min-width: 153px;
}
