.list-imod-body{
	height:400px;
	background-color:#ffffff;
			margin-left:2.5%;
			margin-right:17.5%;
			margin-top:5%;
	margin-bottom:4.7%;
	overflow-y:scroll;
	padding-left:3.5%;
	padding-top:2%;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}
#list-imod{
}
