.pedTech table th td{
		border: 1px solid black;
}

#list-imod
{
	margin-left:5%;
	margin-right:15%;
	max-width:80%;
}
.tabs-background{
	height:4em;
}
table.LO-inner-table {
	height: 100%;
	min-height:40em;
	border-spacing:10px 5px;
	border-collapse:separate;
}
#LO-list-pane{
	width:30%;
	background-color:#EDEDEF;
	border:1px;
	border-color:#C4C2C2;
	border-radius:5px;
	border-style:solid;
}
#LO-definition-cell{
	min-height:2em;
	height:5em;
	width:70%;
	background-color:#EDEDEF;
	border:1px;
	border-color:#C4C2C2;
	border-radius:5px;
	border-style:solid;
}
#LO-creator{
	background-color:#EDEDEF;
	border:1px;
	border-color:#C4C2C2;
	border-radius:5px;
	border-style:solid;
}
#LO-condition-radio-form{
	height:1.5em;
	font-size:1.3em;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	width:15em;
	padding:1em;
}
#LO-condition-radio-form span{
	margin-left:2em;
}
.LO-condition-radio{
	height:1.3em;
	width:1.3em;
	margin-right:5px;
	margin-left:5px;
	vertical-align:middle;
}
#LO-condition-custom{
	display:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#LO-generic{
	width:100%;
}
#LO-condition-generic{
	display:block;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
#LO-type-icon{
	display:inline-block;
	float:left;
	top:10px;
	left:15px;
	position:relative;
}
#tabs-LO-subhead{
	height:2.4em;
	background:transparent;
	border:0px;
}
#tabs-LO-subhead .tabs-background{
	height:4.5em;
}
#tabs-LO-subhead .ui-tabs-nav{
	padding:0em;
	border-width:0px;
	float:right;
	background:transparent;
	margin:10px;
	border-collapse:collapse;
}

#tabs-LO-subhead .ui-tabs-nav li.ui-state-active a {
	height:1.35em;
	border-radius:2.6em/1.2em;
	background:linear-gradient(to right, transparent, #FDFDFD, transparent);
}
#tabs-LO-subhead .ui-tabs-nav li.ui-state-active a.performance {
	color:#3BA8DE;
}
#tabs-LO-subhead .ui-tabs-nav li.ui-state-active a.content {
	color:#F7941D;
}
#tabs-LO-subhead .ui-tabs-nav li.ui-state-active a.condition {
	color:#EC008C;
}
#tabs-LO-subhead .ui-tabs-nav li.ui-state-active a.criteria {
	color:#EC008C;
}

#tabs-LO-subhead .ui-tabs-nav li a {
	color:#B6B6B6;
	outline-color: transparent;
}
#tabs-LO-subhead .ui-tabs-nav li a.ui-tabs-anchor{
	width:5.2em;
	text-align:center
}
#tabs-LO-subhead .ui-tabs-nav li{
	background: linear-gradient(#FDFDFD,#DDDDDD);
	position:static;
	margin:0px;
	border-right-style:none;
	border-left-style:none;
	border-bottom:1px solid #C4C2C2;
	border-top:1px solid #C4C2C2;
	border-radius:0px;
	padding-bottom:0px;
	width:7.5em;
	height:2.4em;
	text-shadow:2px 2px 1px white
}

#tabs-LO-subhead .ui-tabs-nav li:first-child {
	border-left:1px solid #C4C2C2;
	border-radius:1.5em 0px 0px 1.5em;
}
#tabs-LO-subhead .ui-tabs-nav li:last-child {
	border-right:1px solid #C4C2C2;
	border-radius:0px 1.5em 1.5em 0px ;
}
#tabs-LO-subhead .ui-tabs-nav li:ui.tabs-selected {
	padding-bottom:0px;
	border-bottom:1px solid #C4C2C2;
	border-top:1px solid #C4C2C2
}
#LO-hide-from-Objective{
	height:1em;
}

