input[disabled='disabled'] {
    background: #cccccc;
}

/* Styling for the action words */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    margin: 10px;
}

/*.ui-widget-content,*/
/*.ui-widget-header  {*/
	/*margin: 10px ;*/
/*}*/

#help-video{
	top:-60px ;
	left:102.7% ;
}
/* learning objective left panel */
.learning-objective.list-wrapper {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 585px;
    margin: 5px;

    border: 1px solid #707070;
    background-color: #ffffff;
}

.learning-objective.list-item {
    padding: 5px;

    list-style-type: none;

    border-bottom: 1px solid #707070;

    font-weight: bold;
}

.learning-objective.list-item.active {
    background-color: #808080;

    font-weight: bold;

    font-color: #00ff00;
}

.learning-objective.list-link.new {
    font-style: italic;

    font-color: #d3d3d3;
}

.learning-objective.list-item:last-child {
    border-bottom: none;
}

.learning-objective.list-link {
    text-decoration: none;
}

/* managing the page layout */
.learning-objective.inner-table {
    width: 100%;
}

.learning-objective.list-panel {
    width: 30%;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}

.learning-objective.definition-display,
.learning-objective.definition-edit {
    display: none;
}

.learning-objective.definition-display.active,
.learning-objective.definition-edit.active {
    display: block;

    text-align: center;

    font-weight: bold;
}

.learning-objective.definition-edit input[name=update] {
    display: none;
}

.learning-objective.definition-cell {
    width: 70%;
    height: 5em;
    min-height: 2em;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}

.learning-objective.creator-wrapper {
    padding-right: 0;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}

.learning-objective.creator {
    margin-bottom: 10px;
    padding-top: 15px;

    text-align: center;

    border-bottom: 1px solid #c4c2c2;
}

.learning-objective.condition.radio-form {
    width: 15em;
    height: 1.5em;
    margin: 0 auto;
    padding: 1em;

    font-size: 1.3em;
    font-weight: bold;
}

.learning-objective.condition.radio-form span {
    margin-left: 2em;
}

.learning-objective.condition.radio {
    width: 1.3em;
    height: 1.3em;
    margin-right: 5px;
    margin-left: 5px;

    vertical-align: middle;
}

.learning-objective.condition.custom-text {
    display: none;

    width: 80%;
    margin: 0 auto;
}

#LO-generic {
    width: 100%;
}

.learning-objective.condition.generic {
    display: block;

    width: 90%;
    margin: 0 auto;
}

.learning-objective.type-icon {
    position: relative;
    top: -10px;
    left: 15px;

    display: inline-block;
    float: left;
}

/* manage the style for the Learning Objective Progress, Content, Condition and Criteria tabs */
.criteria-label-equal-width {
    width: 60px;
}

.learning-objective.sub-nav {
    position: relative;
    top: 1px;

    display: inline-block;

    list-style: none;

    text-align: center;

    border-bottom: 0;
    /*border-radius: 5px 5px 0 0;*/
    /*background: linear-gradient(#fdfdfd, #dddddd);*/

    font-size: 0;
}

.learning-objective.sub-nav li {
    display: inline-block;

    width: 9em;
    height: 2.6em;
    margin: 0;
    margin-right: 5px;
    padding-bottom: 0;

    text-align: center;

    border: 1px solid #c4c2c2;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(#fdfdfd, #dddddd);
    text-shadow: 2px 2px 1px white;

    font-size: 12px;
    line-height: 2.6em;
}

.learning-objective.sub-nav .tabs-background {
    height: 100%;
}

.learning-objective.sub-nav  li a {
    width: 100%;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;

    color: #b6b6b6;
    outline-color: transparent;

    font-size: 1.1em;
    font-weight: bold;
}

.learning-objective.sub-nav li.active {
    border: 1px solid #0c1625;
    border-bottom-color: #eeeeee;
    background: #eeeeee;
}

.learning-objective.sub-nav .active a {
    height: 1.35em;

    border-radius: 2.6em / 1.2em;
}

.learning-objective.sub-nav .active .performance,
.learning-objective.sub-nav .active.performance {
    color: #3ba8de;
}

.learning-objective.sub-nav .active .content,
.learning-objective.sub-nav .active.content {
    color: #f7941d;
}

.learning-objective.sub-nav .active .conditionTab,
.learning-objective.sub-nav .active.conditionTab {
    color: #ec008c;
}

.learning-objective.sub-nav .active .criteria,
.learning-objective.sub-nav .active.criteria {
    color: #ec008c;
}

.learning-objective.sub-nav li .ui-tabs-anchor {
    width: 5.2em;

    text-align: center;
}

#LO-hide-from-Objective {
    height: 1em;
}

/* save and delete buttons */
.learning-objective-button {
    float: right;
    overflow: hidden;

    margin: 0.1em 10px 0 0;
    padding: 0.3em;

    border: none;
    border-radius: 4px;
    box-shadow: none;
}

.learning-objective-button input,
.learning-objective-button a {
    display: inline-block;
    overflow: visible;

    margin: 0 0.25em 0;
    padding: 0.25em 0.7em;

    cursor: pointer;
    text-decoration: none;

    border: 0;
    border-radius: 0.3em;
    background-color: transparent;
}

.learning-objective-button input:hover,
.learning-objective-button input:focus,
.learning-objective-button a:hover,
.learning-objective-button a:focus {
    color: #ffffff;
    outline: none;
    box-shadow: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .learning-objective-button input:hover,
.no-borderradius .learning-objective-button input:focus,
.no-borderradius .learning-objective-button a:hover,
.no-borderradius .learning-objective-button a:focus {
    text-decoration: underline;

    background-color: transparent;
}


.content-save {
    margin-top: 5px;
}

/* individual delete button styling */
.delete-topic {
    display: none;

    width: 16px;
    height: 16px;
    margin-left: 5px;

    text-align: center;

    color: #ffffff;
    border-radius: 8px;
    background: #000000;

    font-size: 12px;
    line-height: 16px;
}

.delete-topic:hover {
    background: red;
}

/* New Content Tree Plugin */
.dragged {
    position: absolute;
    z-index: 2000;

    opacity: 0.5;
}

#contentTree {
    padding-left: 20px;

    list-style-type: none;
}

#contentTree > li {
    margin-bottom: 20px;

    cursor: move;
}

#contentTree ul {
    border-left: 1px dashed #cccccc;
}

#contentTree ul li {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 5px;
    padding-bottom: 0;

    list-style-type: none;

    cursor: move;
}

#contentTree li.placeholder {
    position: relative;

    height: 20px;

    border: 1px dashed #cccccc;
}
/*#contentTree li.placeholder:before {
	position: absolute;
	width: 8px;
	height: 8px;
	top: -8px;
	left: 0;
	background: url(../../images/arrow-small.png);
	content: "";
}*/

#contentTree li:hover > .delete-topic {
    display: inline-block;

    cursor: pointer;
}

#contentTree .checkboxBackground {
    display: inline-block;

    width: 17px;
    height: 17px;

    cursor: pointer;

    background-image: url(../../images/checkboxBG.png);
}

#contentTree .sub-content-tree {
    cursor: pointer;
}

#contentTree .rootNode {
    font-weight: bold;
}

#contentTree .jstree-node {
    text-transform: capitalize;
}

#contentTable .topicTitle input {
    text-transform: capitalize;
}

#contentTree .checkbox {
    width: 1.3em;

    line-height: 1.5em;
}
.topicModalButtonGradient.addTopicModalWrap {
    box-shadow: none;
}
#addTopicModal {
    height: 38px;

    font-weight: bold;
}

#deleteTopicModal {
    margin-left: 10px;
}

.topicModalButton {
    cursor: pointer;

    border: none;
    border-radius: 4px;
    background: none;
}
.topicModalButtonGradient {
    display: inline-block;
    float: right;

    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#topicDialog {
    position: fixed !important;
    z-index: 15;
    top: 30%;
    left: 15%;

    display: none;

    width: 70%;

    border: 1px solid #c4c2c2;
    background: #ededef;
}
#topicDialogBackground {
    z-index: 2;
}
#topicModalClose {
    float: none;

    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 0;

    text-align: right;

    background: inherit;
}
.modalBackground,
.modalBackground2 {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}
.modalBackground2 {
    z-index: 3;
}
.topicButtonField {
    position: relative;
    top: initial;
    right: initial;

    width: auto;
    height: 2.5em;
    margin: 0;

    background: linear-gradient(#fefefe,#ededef);
    box-shadow: none;
}
.topicButton {
    height: 1.9em;

    background-repeat: no-repeat;
    background-position-y: center;
}
/*.topicButtonGradient {
	display: inline-block;

	height: auto;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;

	border-radius: 4px;
	background: linear-gradient(#f0f0f0,white);
	box-shadow: 0 1px 2px #888888;
}


.topicButtonGradient.cancelBG i {
	color: darkred;

	font-size: 1.5em;
}*/
#topicList {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
}
#topicList thead tr:last-child {
    width: 4em;
    padding-right: 10px;
}
#topicList tbody * {
    vertical-align: middle;
}

#topicList tbody img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
#topicList tr {
    border-top: 1px solid #c4c2c2;
    border-bottom: 1px solid #c4c2c2;
}

#topicList td {
    padding: 5px;
}
#topicList input,
#topicList select,
#topicList button {
    width: 95%;
    height: inherit;
    min-height: inherit;
}
#topicList .hidden {
    display: none;
}
#topicList .unsaved {
    background: white;
}
#topicList .topicDimensions {
    width: 40%;
}
#topicList .topicPriority {
    width: 20%;
}
#topicList .topicResources {
    width: 15%;
    padding-right: 0;
}
#topicList .topicPreReq {
    padding: 0;
}

#topicList .saveIcon {
    width: 1.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    color: darkred;
}
.saveIcon i {
    cursor: pointer;
}

#topicList .knowledgeDimensionButton {
    width: 80%;
}
#topicList #errorMessage {
    color: red;

    font-weight: bold;
}
.instructor-list th {
    vertical-align: middle;
}

#selectKnowledgeDimensionBackground {
    z-index: 3;
}
#selectKnowledgeDimensions {
    position: fixed !important;
    z-index: 1000;
    top: 33%;
    left: 40%;

    display: none;

    width: 20%;
    min-height: 20%;
    padding: 10px 10px 1px 10px;

    border: 1px solid #c4c2c2 ;
    background: white;
}
#selectKnowledgeDimensions li * {
    height: inherit;
}
#selectKnowledgeDimensions ul {
    display: inline-block;

    margin-right: 10px;
    margin-bottom: 20px;

    list-style-type: none;

    vertical-align: top;
}
#selectKnowledgeDimensions #dimImage {
    display: inline-block;

    margin-bottom: 10px;
    margin-left: 10px;
}
#selectKnowledgeDimensions #knowDimFinished {
    position: relative;
    left: 10%;

    width: 40%;
}

#selectKnowledgeDimensions #closeKnowDim {
    position: relative;
    left: 10%;

    width: 40%;

    border: none;
}
#selectKnowledgeDimensions #closeKnowDim i {
    font-size: 18px;
}
#selectResourceBackground {
    z-index: 3;
}
#selectResource {
    position: fixed !important;
    z-index: 18;
    top: 33%;
    left: 20%;

    display: none;

    width: 60%;
    min-height: 20%;
    padding: 10px;

    border: 1px solid #c4c2c2 ;
    background: white;
}
.resourceButtonField {
    position: relative;
    top: initial;
    right: initial;

    width: auto;
    height: 3em;
    margin: 0;

    background: linear-gradient(#fefefe,#ededef);
    box-shadow: none;
}
.resourceButton {
    height: 2.9em;

    background-repeat: no-repeat;
    background-position-y: center;
}
.resourceButtonGradient {
    display: inline-block;

    height: auto;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 4px;
    background: linear-gradient(#f0f0f0,white);
    box-shadow: 0 1px 2px #888888;
}


.resourceButtonGradient.cancelBG i {
    color: darkred;

    font-size: 1.5em;
}
#resourceList {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
}
#resourceList thead tr:last-child {
    width: 4em;
    padding-right: 10px;
}
#resourceList tbody * {
    vertical-align: middle;
}

#resourceList tbody img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
#resourceList tr {
    border-top: 1px solid #c4c2c2;
    border-bottom: 1px solid #c4c2c2;
}

#resourceList td {
    padding: 5px;
}

#resourceList input,
#resourceList select,
#resourceList button {
    width: 95%;
    height: inherit;
    min-height: inherit;
}
#resourceList .hidden {
    display: none;
}
#resourceList .unsaved {
    background: white;
}

#custom-action-words {
    margin-left: 80px;
}

.message.banner {
    visibility: hidden;
}

.action-word-category {
    float: left;

    padding-top: 15px;
}

#learning-domain-list{
	position: relative;
	width: 167px;
	left: -0.5%;
}

#hide-condition{
	position: relative;
	left: 70px;
	margin-top: 15px;
}

#hide-text{
	position: relative;
	left:75px;

}
