input[disabled='disabled'] {
	background: #CCC;
}

/* Styling for the action words */
#action-word-categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#action-word-categories > li {
	padding: 45px 0;
	width: 100px;
	text-align: center;

	background-color: #FFFFCC;
	background-image: url("../../../static/images/unassign.png");
	background-repeat: no-repeat;
	background-position: right top;
}

#action-word-categories > .ui-selecting,
#action-word-categories > .ui-selected {
	background-color: #FFFFCC;
	background-image: url("../../../static/images/assign.png"), url("../../../static/images/thesaurus.png");
	background-repeat: no-repeat, no-repeat;
	background-position: right top, right bottom;
}

/* learning objective left panel */
.learning-objective-list-wrapper {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #707070;
	margin: 5px;
}

.learning-objective-list-item {
	padding: 5px;
	list-style-type: none;
	border-bottom: 1px solid #707070;
}

.learning-objective-list-item:last-child {
	border-bottom: none;
}

.learning-objective-list-link {
	text-decoration: none;
}

/* managing the page layout */
table.LO-inner-table {
	width: 100%;
}

#LO-list-pane {
	width: 30%;
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}

#LO-definition-cell {
	min-height: 2em;
	height: 5em;
	width: 70%;
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}

#LO-creator {
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}

#LO-condition-radio-form {
	height: 1.5em;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 15em;
	padding: 1em;
}

#LO-condition-radio-form span {
	margin-left: 2em;
}

.LO-condition-radio {
	height: 1.3em;
	width: 1.3em;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}

#LO-condition-custom {
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#LO-generic {
	width: 100%;
}

#LO-condition-generic {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#LO-type-icon {
	display: inline-block;
	float: left;
	top: 10px;
	left: 15px;
	position: relative;
}

/* manage the style for the Learning Objective Progress, Content, Condition and Criteria tabs */
.criteria-label-equal-width {
	width: 60px;
}

#tabs-LO-subhead {
	height: 2.4em;
	background: transparent;
	border: 0px;
}

#tabs-LO-subhead .tabs-background {
	height: 4.5em;
}

#tabs-LO-subhead .ui-tabs-nav {
	padding: 0em;
	border-width: 0px;
	float: right;
	background: transparent;
	margin: 10px;
	border-collapse: collapse;
}

#tabs-LO-subhead .ui-tabs-nav li.active a {
	height: 1.35em;
	border-radius: 2.6em / 1.2em;
	background: linear-gradient(to right, transparent, #F5F5F5, transparent);
}

#tabs-LO-subhead .ui-tabs-nav li.active a.performance {
	color: #3BA8DE;
}

#tabs-LO-subhead .ui-tabs-nav li.active a.content {
	color: #F7941D;
}

#tabs-LO-subhead .ui-tabs-nav li.active a.condition {
	color: #EC008C;
}

#tabs-LO-subhead .ui-tabs-nav li.active a.criteria {
	color: #EC008C;
}

#tabs-LO-subhead .ui-tabs-nav li a {
	color: #B6B6B6;
	outline-color: transparent;
	font-weight: bold;
	font-size: 1.1em;
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

#tabs-LO-subhead .ui-tabs-nav li a.ui-tabs-anchor{
	width: 5.2em;
	text-align: center
}

#tabs-LO-subhead .ui-tabs-nav li{
	background: linear-gradient(#FDFDFD, #DDDDDD);
	position: static;
	margin: 0px;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px solid #C4C2C2;
	border-top: 1px solid #C4C2C2;
	border-radius: 0px;
	padding-bottom: 0px;
	width: 9em;
	height: 2.6em;
	text-shadow: 2px 2px 1px white
}

#tabs-LO-subhead .ui-tabs-nav li:first-child {
	border-left: 1px solid #C4C2C2;
	border-radius: 1.5em 0px 0px 1.5em;
}

#tabs-LO-subhead .ui-tabs-nav li:last-child {
	border-right: 1px solid #C4C2C2;
	border-radius: 0px 1.5em 1.5em 0px;
}

#tabs-LO-subhead .ui-tabs-nav li:ui.tabs-selected {
	padding-bottom: 0px;
	border-bottom: 1px solid #C4C2C2;
	border-top: 1px solid #C4C2C2
}

#LO-hide-from-Objective{
	height: 1em;
}

/* save and delete buttons */
.learning-objective-button {
	float: right;
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.learning-objective-button input,
.learning-objective-button a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;
	border-radius: 0.3em;
}

.learning-objective-button input:hover,
.learning-objective-button input:focus,
.learning-objective-button a:hover,
.learning-objective-button a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	box-shadow: none;
}

.no-borderradius .learning-objective-button input:hover,
.no-borderradius .learning-objective-button input:focus,
.no-borderradius .learning-objective-button a:hover,
.no-borderradius .learning-objective-button a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.learning-objective-button .delete,
.learning-objective-button .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .learning-objective-button input.delete,
.ie6 .learning-objective-button input.save,
.ie7 .learning-objective-button input.delete,
.ie7 .learning-objective-button input.save {
	padding-left: 36px;
}

.learning-objective-button .delete {
	background-image: url(../../images/skin/database_delete.png);
}

.learning-objective-button .save {
	background-image: url(../../images/skin/database_save.png);
}
