#action-words {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 450px;
}
#action-words > li {
	margin: 3px;
	padding: 1px;
	text-align: center;
}
#action-words > .ui-selecting {
	background: #FECA40;
}
#action-words > .ui-selected {
	background: #F39814;
	color: white;
}
