/* Styling for the action words */
#action-words {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 450px;
}
#action-words > li {
	margin: 3px;
	padding: 1px;
	text-align: center;
}
#action-words > .ui-selecting {
	background: #FECA40;
}
#action-words > .ui-selected {
	background: #F39814;
	color: white;
}

/* learning objective left panel */
.learning-objective-list-wrapper {
	border-radius: 10px;
	border: 1px solid black;
}

.learning-objective-list-item {
	list-style-type: none;
}

.learning-objective-list-link {
	text-decoration: none;
}

/* managing the page layout */
table.LO_inner_table {
	position: relative;
	left: -5%;
	width: 110%;
	height: 100%;
	min-height: 40em;
	border-spacing: 10px 5px;
	border-collapse: separate;
}
#LO_list_pane {
	width: 30%;
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}
#LO_definition_cell {
	min-height: 2em;
	height: 5em;
	width: 70%;
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}
#LO_creator {
	background-color: #EDEDEF;
	border: 1px;
	border-color: #C4C2C2;
	border-radius: 5px;
	border-style: solid;
}
#LO_condition_radio_form {
	height: 1.5em;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 15em;
	padding: 1em;
}
#LO_condition_radio_form span {
	margin-left: 2em;
}
.LO_condition_radio {
	height: 1.3em;
	width: 1.3em;
	margin-right: 5px;
	margin-left: 5px;
	vertical-align: middle;
}
#LO_condition_custom {
	display: none;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#LO_generic {
	width: 100%;
}
#LO_condition_generic {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#LO-type-icon {
	display: inline-block;
	float: left;
	top: 10px;
	left: 15px;
	position: relative;
}

/* manage the style for the Learning Objective Progress, Content, Condition and Criteria tabs */
#tabs-LO-subhead {
	height: 2.4em;
	background: transparent;
	border: 0px;
}
#tabs-LO-subhead .tabs-background {
	height: 4.5em;
}
#tabs-LO-subhead .ui-tabs-nav {
	padding: 0em;
	border-width: 0px;
	float: right;
	background: transparent;
	margin: 10px;
	border-collapse: collapse;
}
#tabs-LO-subhead .ui-tabs-nav li.active a {
	height: 1.35em;
	border-radius: 2.6em / 1.2em;
	background: linear-gradient(to right, transparent, #F5F5F5, transparent);
}
#tabs-LO-subhead .ui-tabs-nav li.active a.performance {
	color: #3BA8DE;
}
#tabs-LO-subhead .ui-tabs-nav li.active a.content {
	color: #F7941D;
}
#tabs-LO-subhead .ui-tabs-nav li.active a.condition {
	color: #EC008C;
}
#tabs-LO-subhead .ui-tabs-nav li.active a.criteria {
	color: #EC008C;
}

#tabs-LO-subhead .ui-tabs-nav li a {
	color: #B6B6B6;
	outline-color: transparent;
	font-weight: bold;
	font-size: 1.1em;
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
#tabs-LO-subhead .ui-tabs-nav li a.ui-tabs-anchor{
	width: 5.2em;
	text-align: center
}
#tabs-LO-subhead .ui-tabs-nav li{
	background: linear-gradient(#FDFDFD, #DDDDDD);
	position: static;
	margin: 0px;
	border-right-style: none;
	border-left-style: none;
	border-bottom: 1px solid #C4C2C2;
	border-top: 1px solid #C4C2C2;
	border-radius: 0px;
	padding-bottom: 0px;
	width: 9em;
	height: 2.6em;
	text-shadow: 2px 2px 1px white
}
#tabs-LO-subhead .ui-tabs-nav li:first-child {
	border-left: 1px solid #C4C2C2;
	border-radius: 1.5em 0px 0px 1.5em;
}
#tabs-LO-subhead .ui-tabs-nav li:last-child {
	border-right: 1px solid #C4C2C2;
	border-radius: 0px 1.5em 1.5em 0px;
}
#tabs-LO-subhead .ui-tabs-nav li:ui.tabs-selected {
	padding-bottom: 0px;
	border-bottom: 1px solid #C4C2C2;
	border-top: 1px solid #C4C2C2
}
#LO_hide_from_Objective{
	height: 1em;
}

/* save and delete buttons */
.LO_buttons {
	float: right;
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.LO_buttons input,
.LO_buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;
	border-radius: 0.3em;
}

.LO_buttons input:hover,
.LO_buttons input:focus,
.LO_buttons a:hover,
.LO_buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	box-shadow: none;
}

.no-borderradius .LO_buttons input:hover,
.no-borderradius .LO_buttons input:focus,
.no-borderradius .LO_buttons a:hover,
.no-borderradius .LO_buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.LO_buttons .delete,
.LO_buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .LO_buttons input.delete,
.ie6 .LO_buttons input.save,
.ie7 .LO_buttons input.delete,
.ie7 .LO_buttons input.save {
	padding-left: 36px;
}

.LO_buttons .delete {
	background-image: url(../../images/skin/database_delete.png);
}

.LO_buttons .save {
	background-image: url(../../images/skin/database_save.png);
}
