
#login {
    margin: 15px 0;
    padding: 0;
    padding-bottom: 4.2%;

    text-align: center;
}

#login .inner {
    width: 340px;
    margin: 60px auto;
    margin-top: 10%;
    padding-bottom: 6px;

    text-align: left;

    border: 1px solid #aaaabb;
    background-color: #f0f0fa;
    box-shadow: 2px 2px 2px #eeeeee;
}

#login .inner .fheader {
    margin: 0 0 14px 0;
    padding: 18px 26px 14px 26px;

    color: #2e3741;
    background-color: #f7f7ff;

    font-size: 18px;
    font-weight: bold;
}

#login .inner .cssform p {
    clear: left;

    height: 1%;
    margin: 0;
    margin-bottom: 20px;
    padding: 4px 0 3px 0;
    padding-left: 105px;
}

#login .inner .cssform input[type='text'] {
    width: 120px;
}

#login .inner .cssform label {
    float: left;

    width: 110px;
    margin-left: -105px;
    padding-top: 3px;
    padding-right: 10px;

    text-align: right;

    font-weight: bold;
}

#login #remember_me_holder {
    padding-left: 105px;
}

#login #submit {
    margin-left: 0;
}

#login #register {
    margin-left: 20px;
}

#login #remember_me_holder label {
    float: none;

    width: 200px;
    margin-left: 0;

    text-align: left;
}

#login .inner .login_message {
    padding: 6px 25px 20px 25px;

    color: #cc3333;
}

#login .inner .text_ {
    width: 120px;
}

#login .inner .chk {
    height: 12px;
}


