.favDiv {
    display: none;
    visibility: hidden;
}

#unfavorites {
    display: none;
}

#pedagogyFavorites {
    display: none;
    visibility: hidden;
}

#pedagogyFavoritesDiv {
    display: none;
    visibility: hidden;
}


.no-objective-defined {
    text-align: center;
    vertical-align: middle;

    opacity: 0.5;
    background: #cccccc;
}

.pedagogy-page-buttons {
    height: 50px;

    text-align: center;
}

.pedagogy-page-buttons-disabled {
    height: 50px;

    text-align: center;
    vertical-align: middle;
    pointer-events: none;

    opacity: 0.5;
    background: #cccccc;
}

.video-control {
    text-align: center;
}

.video-center {
    margin: 0 auto;
}

.learning-objective.definition-cell {
    height: 5em;
    min-height: 2em;
    padding-right: 0;

    text-align: center;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}

.learning-objective.list-wrapper {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 300px !important;
}

#add-new-technique-button i,
#favorites-button i {
    padding: 2px;

    vertical-align: middle;

    color: darkblue;

    font-size: 1em;

    size: 1em;
}
#favorites-button i {
    color: gold;
}

.pedagogy.type-icon {
    position: relative;
    left: -45px;

    display: inline-block;
    float: center;
}

.new-technique-popup-button {
    top: 0;

    color: #ffffff;
    background: #0a1629;
    background: linear-gradient(to left bottom, #1b4176 0%, #172751 100%);
}
#ideal-matches {
    height: 300px;
}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}
#topicDialogBackground {
    z-index: 1;
}
#add-new-technique {
    position: absolute;
    z-index: 2;
    top: -124px;
    left: 444px;

    display: none;

    width: 40%;

    border: 1px solid #c4c2c2;
    background: #ededef;
}

#techniqueList {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
}
#techniqueList thead tr:last-child {
    width: 4em;
    padding-right: 10px;
}
#techniqueList tbody * {
    vertical-align: middle;
}

#techniqueList tbody img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

#techniqueList td {
    padding: 5px;
}

#techniqueList input,
#techniqueList select,
#techniqueList button {
    width: 95%;
    height: inherit;
    min-height: inherit;
}

.titleField {
    position: relative;
    top: initial;
    right: initial;

    width: auto;
    height: 2.5em;
    margin: 0;

    text-align: left;
    vertical-align: middle;
    /*background: rgba(0,0,0,0.05);
    box-shadow: none;*/

    border-top: 1px solid rgba(0,0,0,0.05) ;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
