.favDiv {
    display: none;
    visibility: hidden;
}

#unfavorites {
    display: none;
}

#pedagogyFavorites {
    display: none;
    visibility: hidden;
}

#pedagogyFavoritesDiv {
    display: none;
    visibility: hidden;
}


.no-objective-defined {
    height: 100px;

    text-align: center;
    vertical-align: middle;
}

.no-objective-defined a {
    vertical-align: middle !important;
    text-decoration: none;
}

.pedagogy-page-buttons {
    height: 50px;

    text-align: center;
}

.pedagogy-page-buttons-disabled {
    height: 50px;

    text-align: center;
    vertical-align: middle;
    pointer-events: none;

    opacity: 0.5;
    background: #cccccc;
}

.video-control {
    text-align: center;
}

.video-center {
    margin: 0 auto;
}

.learning-objective.definition-cell {
    height: 5em;
    min-height: 2em;
    padding-right: 0;

    text-align: center;

    border: 1px solid #c4c2c2;
    border-radius: 5px;
}

.lo-d {
    height: 5em;
    min-height: 2em;
    padding-right: 0;
}

.learning-objective.list-wrapper {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 300px !important;
}

.pedagogy-nav-bar span {
    margin-right: 15px;
}

#add-new-technique-button i,
#favorites-button i {
    padding: 2px;

    vertical-align: middle;

    font-size: 1em;

    size: 1em;
}

.new-technique-popup-button {
    top: 0;

    height: 28px;
    padding: 0 10px;

    color: #ffffff;
    border: none;
    border-radius: 3px;
    background: #0a1629;
    background: linear-gradient(to left bottom, #1b4176 0%, #172751 100%);
}
#ideal-matches {
    height: 300px;
}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}
#topicDialogBackground {
    z-index: 1;
}
#add-new-technique {
    position: absolute !important;
    z-index: 2;
    top: -124px;
    left: 50%;

    display: none;

    width: 460px;
    margin-left: -230px;

    border: 1px solid #c4c2c2;
    background: #ededef;
}
#instruction-plan {
    position: absolute !important;
    z-index: 2;
    top: -124px;
    left: 50%;

    display: none;

    width: 460px;
    margin-left: -230px;

    border: 1px solid #c4c2c2;
    background: #ededef;
}

#closeInstructionalPlan {
    width: 18px;
    margin-right: -5px;

    cursor: pointer;
    vertical-align: middle;

    font-size: 1em;

    size: 1em;
}

#closeInstructionalPlanButton {
    width: 2px;
    padding-left: 2px;

    cursor: pointer;

    font-size: 15px;
}

#add-new-technique .td-label {
    padding-top: 10px;

    vertical-align: top;

    font-weight: bold;
}

label.pedagogy-block.isAdmin:before {
    content: "\f023";
    bottom: 0;
    left: 3px;
    position: absolute;
    font: normal normal normal 16px/1 FontAwesome;
    color: #1b4176;
}

label.pedagogy-block .text-block.title {
    word-wrap: break-word;
}

label.assessment-block {
    width: 120px;

    background: #ffffcc !important;
}

.modalBackgroundFavorites {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}

#closeFavoritesModal {
    position: absolute;
    top: 10px;
    right: 10px;
}

.favorites-modal {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 50%;

    display: none;

    width: 800px;
    margin-left: -400px;

    background: rgb(237, 237, 239);
}

.favorites-modal .favorites-inner {
    overflow-y: auto;

    max-height: 300px;
}
.favorites-modal .ui-button-text {
    padding: 60px 0;
}

.favorites-modal .ui-button-text .ui-button-text {
    padding: 0;
}
.favorites-modal .clone {
    top: initial;
}

.favorites-inner {
    text-align: center;
}

#techniqueList {
    margin: 10px;
    margin-bottom: 1px;
}
#techniqueList thead tr:last-child {
    width: 4em;
    padding-right: 10px;
}
#techniqueList tbody * {
    vertical-align: middle;
}

#techniqueList tbody img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

#techniqueList td {
    padding: 5px;
}

#techniqueList input,
#techniqueList select,
#techniqueList textarea {
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    min-height: inherit;

            border-radius: 5px;
            box-shadow: inset 0 2px 10px 0 rgba(0,0,0,0.1);

    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 10px 0 rgba(0,0,0,0.1);
       -moz-box-shadow: inset 0 2px 10px 0 rgba(0,0,0,0.1);
}

.add-new-technique-form label.error {
    padding-top: 5px;

    color: red;
}

.add-new-technique-form input.error,
.add-new-technique-form select.error {
    border: 1px solid #ffbaba;
}


.titleField {
    position: relative;
    top: initial;
    right: initial;

    width: auto;
    margin: 0;
    padding: 10px 15px;

    text-align: left;
    vertical-align: middle;
    /*background: rgba(0,0,0,0.05);
	box-shadow: none;*/

    border-top: 1px solid rgba(0,0,0,0.05) ;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.05);
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

#ideal-matches-toggle h3 {
    display: block;

    text-align: left;
}

.ui-accordion .ui-accordion-content {
    margin: 10px;

    border-top: 1px solid #aaaaaa;
}

#ideal-matches {
    position: relative;
}
#topLeft {
    position: absolute;
    top: 0;
    left: 0;
}
#topRight {
    position: absolute;
    top: 0;
    left: 73px;
}
.clone {
    position: absolute;
    top: inherit;
    right: 0;
    bottom: 0;

    height: 28px;
    padding: 0 10px;

    color: #ffffff;
    border: none;
    border-radius: 3px;
    background: #0a1629;
    background: linear-gradient(to right bottom, #1b4176 0%, #172751 100%);
}

.knowledgeDimensionButton {
    width: 82%;
}


.icons > .ui-state-default {
    background-color: #ffffcc;
    background-image: none !important;
    background-repeat: none !important;
    background-position: none !important;
}
.istructional-plan-LO,
.assignedTechniques {
    text-align: left;
}
#printInstructionalPlan {
    height: 2em !important;

    font-size: 1em;
}
#printInstructionalPlan a {
    vertical-align: middle !important;
    text-decoration: none;

    line-height: 28px;
}

#help-video{
	top:-5px !important;
	left:101.5% !important;
}
