.graphErrorMessage {
	font-weight: bold;
	margin: 120px;
}

.treeEmptyMessage {
	font-weight: bold;
	margin: 21px;
	padding-top: 81px;
}

.topicScheduleEmptyMessage {
	font-weight: bold;
	margin: 15px;
	padding-top: 107px;
}

.firstChapter {
	background-color: #E8E8E8 !important;
}

.greyBackColor {
	background-color: #a9a9a9;
}

.qtip {
	width: 196px !important;
	margin-top: 15px;
}

.pc3_hover{
	height: 50px !important;
	margin-top: 15px;
	background-color: #a9a9a9;
}
