html, body{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background: #ddd; line-height: 1.5em;
    padding: 0 20px;
    font-family: Verdana, Arial, Helvetica;
}

h3 {
    font-size: 1em; margin-bottom: 15px; 
    border-bottom: 1px solid #ccc; padding-bottom: 10px;
}

h4 {
    font-size: 0.8em; margin-bottom: 15px;
}

.wrapper{
    background: #fff;
    max-width: 800px;
    padding: 10px 30px;
    margin: 20px auto;
    border: 1px solid #ccc;
    word-wrap: break-word;
}

.Content li {
    text-transform: capitalize;
}

.course-details .form-title{
    position: relative;
}
.course-details .options{
    position: absolute;
    right: 0; top: 0;
}

@media print {
    body{
        font-family: Arial; font-size: 0.9em;
    }
    .wrapper{
        border: none; padding: 0;
    }
    .options{
        display: none;
    }
}