#topicDialog {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 15%;

    display: none;

    width: 70%;

    border: 1px solid #c4c2c2;
    background: #ededef;
}
#topicDialogBackground {
    z-index: 1;
}
#topicModalClose {
    float: right;

    margin-right: 10px;

    background: inherit;
}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
}
.topicButtonField {
    position: relative;
    top: initial;
    right: initial;

    width: auto;
    height: 3em;
    margin: 0;

    background: linear-gradient(#fefefe,#ededef);
    box-shadow: none;
}
.topicButton {
    height: 2.9em;

    background-repeat: no-repeat;
    background-position-y: center;
}

#topicList {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
}
#topicList thead tr:last-child {
    width: 4em;
    padding-right: 10px;
}
#topicList tbody * {
    vertical-align: middle;
}

#topicList tbody img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
#topicList tr {
    border-top: 1px solid #c4c2c2;
    border-bottom: 1px solid #c4c2c2;
}

#topicList td {
    padding: 5px;
}
#topicList input,
#topicList select,
#topicList button {
    width: 85%;
    height: inherit;
    min-height: inherit;
}
#topicList .hidden {
    display: none;
}
#topicList .unsaved {
    background: white;
}
#topicList .topicDimensions {
    width: 25%;
}
#topicList .topicPriority {
    width: 20%;
}
#topicList .topicResources {
    width: 15%;
    padding-right: 0;
}
#topicList .topicPreReq {
    padding: 0;
}

#topicList .saveIcon {
    width: 1.1em;
    padding-right: 0.5em;
    padding-left: 0.5em;

    color: darkred;

    font-size: 16px;
}

.saveIcon i {
    cursor: pointer;
}

#topicList .knowledgeDimensionButton {
    width: 80%;
}
#topicList #errorMessage {
    color: red;

    font-weight: bold;
}

/* Topic Dialog for Course Overview */
#topicDialog.custom-instructor {
    position: static;

    display: block;
    overflow: hidden;

    width: auto;
}
.error {
    color: red !important;
    border: none;
}

#time-ratio {
    max-width: 50px;
}

.course-overview-form #topicList tbody td {
    vertical-align: top;
}

.fieldcontain label.error {
	display: block;
	width: auto;
	padding-top: 10px;
}

.schedule-tab .fieldcontain label.error {
	padding-top: 0;
}

.schedule-tab .errorcontain {
	margin-top: 0.5em;
}

.course-overview-form #topicList tbody td label.error {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    padding-top: 0;
}
