# .gitignore for Grails 1.2 and 1.3

# web application files
/web-app/WEB-INF/classes
web-app/WEB-INF/tld/*

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
.link_to_grails_plugins/**
RemoteSystemsTempFiles
target-eclipse/**
.classpath
.settings
Servers/**
target/dependency-report
.metadata/version.ini
web-app/development-bundle/AUTHORS.txt
web-app/development-bundle/demos
web-app/development-bundle/docs
web-app/development-bundle/external
web-app/development-bundle/Gruntfile.js
web-app/development-bundle/jquery-1.9.1.js
web-app/development-bundle/MIT-LICENSE.txt
web-app/development-bundle/package.json
web-app/development-bundle/README.md
web-app/development-bundle/themes
web-app/development-bundle/ui
web-app/development-bundle/ui.accordion.jquery.json
web-app/development-bundle/ui.autocomplete.jquery.json
web-app/development-bundle/ui.button.jquery.json
web-app/development-bundle/ui.core.jquery.json
web-app/development-bundle/ui.datepicker.jquery.json
web-app/development-bundle/ui.dialog.jquery.json
web-app/development-bundle/ui.draggable.jquery.json
web-app/development-bundle/ui.droppable.jquery.json
web-app/development-bundle/ui.effect-blind.jquery.json
web-app/development-bundle/ui.effect-bounce.jquery.json
web-app/development-bundle/ui.effect-clip.jquery.json
web-app/development-bundle/ui.effect-drop.jquery.json
web-app/development-bundle/ui.effect-explode.jquery.json
web-app/development-bundle/ui.effect-fade.jquery.json
web-app/development-bundle/ui.effect-fold.jquery.json
web-app/development-bundle/ui.effect-highlight.jquery.json
web-app/development-bundle/ui.effect.jquery.json
web-app/development-bundle/ui.effect-pulsate.jquery.json
web-app/development-bundle/ui.effect-scale.jquery.json
web-app/development-bundle/ui.effect-shake.jquery.json
web-app/development-bundle/ui.effect-slide.jquery.json
web-app/development-bundle/ui.effect-transfer.jquery.json
web-app/development-bundle/ui.menu.jquery.json
web-app/development-bundle/ui.mouse.jquery.json
web-app/development-bundle/ui.position.jquery.json
web-app/development-bundle/ui.progressbar.jquery.json
web-app/development-bundle/ui.resizable.jquery.json
web-app/development-bundle/ui.selectable.jquery.json
web-app/development-bundle/ui.slider.jquery.json
web-app/development-bundle/ui.sortable.jquery.json
web-app/development-bundle/ui.spinner.jquery.json
web-app/development-bundle/ui.tabs.jquery.json
web-app/development-bundle/ui.tooltip.jquery.json
web-app/development-bundle/ui.widget.jquery.json
