.ui-dialog {
    width: 800px !important;
}

.ui-dialog-title {
    color: black;
}

select[disabled][disabled] {
    cursor: inherit;

    color: GrayText;
    background-color: ThreeDFace;
}

.smallblackarea {
    position: absolute;
    top: 50px;
    left: 25px;

    display: inline-block;

    width: 100px;
    margin-top: 0;
    margin-right: 0;
    padding: 5px;

    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

.imgblock {
    position: relative;

    display: block;
    float: left;

    width: 140px;
    height: 140px;
    padding: 10px;
}

.ui-tooltip,
.arrow:after {
    border: 0.5px solid black;
    background: white;
}

.ui-tooltip {
    padding: 5px 10px;

    font: bold 12px 'Helvetica Neue', Sans-Serif;
}

.arrow {
    position: absolute;
    bottom: -16px;
    left: 50%;

    overflow: hidden;

    width: 70px;
    height: 16px;
    margin-left: -35px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    position: absolute;
    top: -20px;
    left: 20px;

    width: 25px;
    height: 25px;

    content: '';

    box-shadow: 6px 5px 9px -9px black;

    tranform: rotate(45deg);
}

.arrow.top:after {
    top: auto;
    bottom: -20px;
}

.graphErrorMessage {
    margin: 120px;

    font-weight: bold;
}

.treeEmptyMessage {
    margin: 21px;
    padding-top: 81px;

    font-weight: bold;
}

.topicScheduleEmptyMessage {
    margin: 15px;
    padding-top: 107px;

    font-weight: bold;
}

.firstChapter {
    background-color: #e8e8e8 !important;
}

.greyBackColor {
    background-color: #a9a9a9;
}

.qtip {
    width: 196px !important;
    margin-top: 15px;
}

.pc3_hover {
    height: 50px !important;
    margin-top: 15px;

    background-color: #a9a9a9;
}
